<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Bem vindo</h1>
  <input type="text" id="nickname-input" placeholder="Insira um nickname" />
  <button id="nickname-button">Salvar</button>
  <input type="text" id="message-input" placeholder="Mensagem..."/>
  <button id="message-button">Enviar</button>
  <ul id="message-list"></ul>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <script>
    const socket = io();

    const messageButton = document.querySelector('#message-button');
    const messageList = document.querySelector('#message-list');
    const nicknameButton = document.querySelector('#nickname-button');

    socket.on('message', (message) => {
      const li = document.createElement('li');
      li.innerText = message;
      messageList.appendChild(li);
    });

    messageButton.addEventListener('click', () => {
      const messageInput = document.querySelector('#message-input');
      const nickname = sessionStorage.getItem('nickname') || socket.id;
      socket.emit('message', { chatMessage: messageInput.value, nickname });
      messageInput.value = '';
    });

    nicknameButton.addEventListener('click', () => {
      const nicknameInput = document.querySelector('#nickname-input');
      sessionStorage.setItem('nickname', nicknameInput.value);
      nicknameInput.value = '';
    });
  </script>
</body>
</html>