* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

form {
  background: black;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

form input {
  border: none;
  border-radius: 30px;
  margin-right: 0.5%;
  padding: 20px;
  width: 30%;
}

form button {
  background: hsl(166, 95%, 22%);
  border: none;
  border-color: #036b52 3px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 9%;
}

#userForm {
  bottom: 90%;
  position: absolute;
}
