<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>    
  </head>
  <body>
    <aside>
      <h2>Participantes</h2>
      <ul id="nicknames"></ul>
      <form id="send-nickname">
        <input id="nicknameInput" data-testid="nickname-box" placeholder="Nickname"/>
        <button data-testid="nickname-button">Salvar</button>
      </form>
    </aside>
    <section>
      <ul id="messages">   
      </ul>
      <form id="send-message">
        <input id="messageInput" data-testid="message-box" autocomplete="off" />
        <button data-testid="send-button">Enviar</button>
      </form>
    </section>
    <script src="/socket.io/socket.io.js"></script>    
    <script src="../js/chat.js"></script>
  </body>
</html>