<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
  <section id="mainSection">
    <div id="usersDiv">
      <form>
        <label for="nickInput">Nickname</label>
        <input type="text" id="nickInput" data-testid="nickname-box">
        <button type="submit" data-testid="nickname-button">Alterar nickname</button>
      </form>
      <ul id="usersList"></ul>
    </div>
    <div id="chatDiv">
      <ul id="chatList"></ul>
    </div>
    <form>
      <input type="text" id="textBox" data-testid="message-box">
      <button type="submit" data-testid="send-button">Enviar</button>
    </form>
  </section>
</body>
</html>