<!doctype html>
<html>
  <head>
    <title>WebChat</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <div>
      <input data-testid="nickname-box" id=inputNick autocomplete="off"/>
      <button type="button" data-testid="nickname-button" id="btnNick" >Salve</button>
      <div>
      <ul id="userList"></ul>
      </div>
    </div>
    <div>
      <ul id="messages">
      <% messages.forEach((m) => { %>
        <li data-testid="message"><%= `${m.timestamp} ${m.nickname}: ${m.message}` %></li>
      <% }) %>
    </ul>
    </div>
    <div>
      <form action="">
        <input data-testid="message-box" id=inputMessage autocomplete="off"/>
        <button data-testid="send-button" >Enviar</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/chat.js"></script>
  </body>
</html>