<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Webchat</title>
  </head>
  <body>
    <div id="nicksContainer">
      <div id="changeNickContainer">
        <input
          id="nickname-box"
          type="text"
          name="changenick"
          data-testid="nickname-box"
          placeholder="Pleace type a nickname"
        />
        <button
          type="button"
          id="nickname-button"
          data-testid="nickname-button"
        >
          Send
        </button>
      </div>
      <h3>Lista de Usuários Online:</h3>
      <ul id="nicksList"></ul>
    </div>

    <div id="mensagensContainer">
      <h3>Mensagens do chat:</h3>
      <ul id="messages">
        <% history.forEach((msg) => { %>
          <li data-testid="message"><%=`${msg.timeStamp} - ${msg.nickname}: ${msg.chatMessage}`%></li>
        <% }) %>
      </ul>
    </div>

    <form id="formMensage">
      <input
        id="message-box"
        type="text"
        name="message"
        data-testid="message-box"
        placeholder="Pleace type a message"
      />
      <button type="button" id="send-button" data-testid="send-button">
        Send
      </button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>
