<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Webchat</title>
</head>
<body>
  <h1>Chat</h1>
  <ul id="message-list"></ul>
  <form>
    <input type="text" id="nickname" autocomplete="on"/>
    <input type="text" id="message-input" autocomplete="off"/>
    <button type="submit" id="send-button">Enviar</button>
  </form>

  <script>

    const socket = io('http://localhost:3000');

    const sendButton = document.getElementById('send-button');
    const form = document.querySelector('form');
    const messageInput = document.getElementById('message-input');
    const username = document.getElementById('nickname');

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      console.log(messageInput.value);
      socket.emit('message',
      { chatMessage: messageInput.value, nickname: username.value});
      messageInput.value = '';
      return false;
    });

    const createMessage = (message) => {
      const messageContainer = document.querySelector('#message-list');
      const msgText = document.createElement('li');
      msgText.innerText = message;
      messageContainer.appendChild(msgText);
    };

    socket.on('message', (newMessage) => {
      createMessage(newMessage);
    });

  </script>
</body>
</html>
