<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebChat</title>
</head>
<body>
    <header>
        <h1>WebChat</h1>
        <form id="nickname-form">
            <input type="text" id="nickname-box" data-testid="nickname-box" />
            <button id="nickname-button" data-testid="nickname-button">Update</button>
        </form>
    </header>
    <span id = "current-user" data-testid="online-user"></span>
    <ul id="users-ul"></ul>
    
    <form id="message-form">
        <input type="text" id="message-box" data-testid="message-box" />
        <button id="send-button" data-testid="send-button">Send</button>
    </form>
    
    <ul id="messages-ul">
        <% messageHistory.forEach(message => { %>
            <li data-testid="message"><%= message %></li>
        <% }) %>
    </ul>
        
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
</body>
</html>