<!DOCTYPE html>
<html lang="en">

<head>
  <title>Web Chat</title>
</head>

<body>
  <div id="users">
    <ul id="ulNickname">
    <form id="nickname" action="">
      <input id="nicknameInput" data-testid="nickname-box" placeholder="Insira seu nickname" type="text" />
      <button id="sendNickname" data-testid="nickname-button">Salvar</button>
    </form>
  </ul>
  </div>
  <ul id="chatUl">
    <form id="formMessage" action="">
      <input
      id="messageInput"
      data-testid="message-box"
      autocomplete="off"
      placeholder="Digite uma nova mensagem aqui"
      />
      <button
        id="btn-send"
        data-testid="send-button">
          Enviar
      </button>
      <% chats.forEach(({ message, nickname, timestamp }) => { %>
        <li data-testid="message">
          <%= `${timestamp} - ${nickname}: ${message}` %>
        </li>
      <% }) %>
      </form>
    </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/chat.js"></script>
</body>

</html>