<!DOCTYPE html>
<html lang="en">
<head>
  <title>chat</title>
</head>
<body>
  
<ul id="message">
  <form id="formMessage" action="">
    <input id="messageInput" autocomplete="off" />
    <button type="submit" id="btn-send">send</button>
  </form>
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>
</body>
</html>