<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Webchat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</head>
<body>
  <form id="chat">
    <span data-testid="online-user"></span>
    <div id="messages">
      <ul>
      </ul>
    </div>
    <input type="text" data-testid="message-box" id="message-input" placeholder="Envie a mensagem aqui">
    <button type="submit" id="nessage-btn" data-testid="send-button">Enviar</button>
  </form>

  <form id="nick-change">
    <input type="text" data-testid="nickname-box" id="nick-input" placeholder="Insira seu nick aqui">
    <button data-testid="nickname-button">Alterar nick</button>
  </form>

  <script type="text/javascript">
    const socket = io('http://localhost:3000');

    const generateNickname = (length) => {
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

      let result = '';
      for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * 
        characters.length));
      }
      return result;
    };

    let nickname = generateNickname(16);
    document.querySelector('span').innerText = nickname;

    document.querySelector('#nick-change').addEventListener('submit', (event) => {
      event.preventDefault();

      const newNick = document.querySelector('#nick-input').value;

      if (newNick) {
        nickname = newNick;
        document.querySelector('span').innerText = nickname;
      }
    })

    document.querySelector('#chat').addEventListener('submit', (event) => {
      event.preventDefault();
      const message = document.querySelector('#message-input').value;

      if (message) {
        const messageObject = {
          chatMessage: message,
          nickname,
        }

        const messageElement = document.createElement('li');
        messageElement.innerHTML = `${nickname}: ${message}`;
        messageElement.setAttribute("data-testid", "message");
        document.querySelector('ul').appendChild(messageElement);

        socket.emit('message', messageObject);
      }
    });
  </script>
</body>
</html>