<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>WebChat</title>
  </head>
  <body>
    <div>
      <div class="container">
        <div class="sing border">
          <div>
            <input data-testid="nickname-box" class="user" id="user" type="text" placeholder="Insira o nome do seu usuário" autocomplete="off" maxlength="16" />
            <button data-testid="nickname-button" class="save" id="save" type="submit">
              Salvar
            </button>
          </div>
          <div class="users border"></div>
        </div>
        <div class="chat border"></div>
      </div>
      <div class="message-box">
        <input data-testid="message-box" class="message" id="message" type="text" placeholder="Escreva uma mensagem"  autocomplete="off" />
        <button data-testid="send-button" class="send" id="send" type="button">
          Enviar
        </button>
      </div>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
