<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
  </head>
  <body>
    <ul id="messages">
      <% messages.forEach(({ message, nickname, timestamp } ) => { %>
        <% const msg = `${timestamp} ${nickname} ${message}` %> 
        <li data-testid="message">
          <p data-testid="online-user">
            <%= msg%>
          </p> 
        </li>
      <% }) %>
    </ul>
    <form action="">
      <input
        id="message-input"
        data-testid="message-box"/>
      <button data-testid="send-button">
        Send
      </button>
    </form>
    <div>
      <input
      id="nickname-input"
      data-testid="nickname-box"
    />
    <button
      data-testid="nickname-button"
      id="nickname-button"
    >
      CHANGE YOUR NICK
    </button>
    </div>
    <div>
      <ul id="users">

      </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>