<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webchat</title>
</head>
<body>
  <script src="/socket.io/socket.io.js"></script>
  <ol id="lista">
    <% messages.forEach((message) => { %>
      <li data-testid="message">
        <%= message.timestamp %> - <%= message.message%> - <%= message.nickname %>
      </li> 
      <% }) %>
    </ol>
    <p data-testid="online-user" id="nickName"></p>
    <ol id="listaOnline"></ol>
    <form >
      <input type="text" id="messageInput" data-testid="message-box"></input>
      <button id="buttonSubmit" type="submit" data-testid="send-button">send</button>   
    </form>
    <form >
      <input type="text" data-testid="nickname-box" id="inputRename"></input>
      <button type="submit" data-testid="nickname-button" id="sendRename">send</button>   
    </form>

    <script src="chat.js"></script> 
</body>
</html>