<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webchat</title>
</head>
<body>
  <input
      id="nickname-box"
      data-testid="nickname-box"
      placeholder="change your nickname"
  /><button id="nickname-button" data-testid="nickname-button">Change</button>
  <ul id="online-users">
    <li id="online-user" data-testid="online-user"></li>
  </ul>
  <ul id="messages"></ul>
  <form action="">
    <input
      id="messageInput"
      autocomplete="off"
      data-testid="message-box"
      placeholder="write your message here"
    /><button data-testid="send-button">Send</button>
  </form>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const form = document.querySelector('form');
    const inputMessage = document.querySelector('#messageInput');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      socket.emit('message', 
      { 
        chatMessage: inputMessage.value,
        nickname: socket.nickname,
      });
      inputMessage.value = '';
      return false;
    });

    const inputNickname = document.querySelector('#nickname-box');
    const sendNickname = document.querySelector('#nickname-button');
    sendNickname.addEventListener('click', (e) => {
      e.preventDefault();
      socket.nickname = inputNickname.value;;
      socket.emit('newNickname', socket.nickname);
      inputNickname.value = '';
      return false;
    });


    const appendMessageToUl = (message) => {
      const ul = document.getElementById("messages");
      const li = document.createElement("li");
      li.setAttribute('data-testId', 'message');
      li.appendChild(document.createTextNode(message));
      ul.appendChild(li);
      // código baseado no seguinte site: https://www.codegrepper.com/code-examples/javascript/javascript+create+li+element+and+append+to+ul
    }

    const renderOnlineUser = (user) => {
      const onlineUserLi = document.getElementById("online-user");
      onlineUserLi.innerText = user.nickname;
    }

    socket.on('setDefaultNickname', () => {
      const defaultNickname = socket.id.slice(0, 16);
      socket.nickname = defaultNickname;
      socket.emit('newNickname', socket.nickname);
    });
    socket.on('message', (message) => appendMessageToUl(message));
    socket.on('onlineUsers', (onlineUsers) => console.log(onlineUsers));
    socket.on('onlineUser', (onlineUser) => {
      if (onlineUser.id === socket.id) {
        renderOnlineUser(onlineUser);
      }
    });
  </script>
</body>
</html>