body {
  background-color: #d8dbd5;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: #009688;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  height: 200px;
  text-align: center;
}

section {
  border: 1px solid lightgrey;
  box-shadow: 3px 2px 2px white;
  height: 40em;
  margin: -100px auto;
  width: 90%;
}

form {
  align-items: flex-end;
  background-color: #ededed;
  display: flex;
}

.nickname {
  margin: 0 10px 10px 0;
  width: 30%;
}

.nickname input, button {
  font-size: 16px;
}

.message {
  width: 65%;
}

.message input, button {
  font-size: 16px;
}

.message input {
  margin: 0 30px 10px 0;
  width: 70%;
}

.main {
  display: flex;
}
