body , html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.displayed-message {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 30px;
  margin-left: 10px;
  padding: 10px;
}

.webchat-messages {
  height: 75vh;
  margin: auto;
  overflow-y: scroll;
  transition: all 2s;
  width: 70%;
}

.displayed-message:nth-child( odd ) {
  background-color: lavender;
  justify-content: flex-end;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.online-users {
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  width: fit-content;
}

.online-users h3 {
  border-bottom: 1px solid grey;
  margin: 10px 0;
  padding: 0;
}

.webchat-form {
  background-color: lavender;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  padding: 10px;
  position: fixed;
  width: 100vw;
}

.webchat-form .input-message {
  border: 2px solid lightseagreen;
  border-radius: 10px;
  width: 80%;
}

.webchat-form .btn-submit {
  background-color: lightseagreen;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  font-weight: 700;
  width: 10%;
}
