<section>
  <form class="form" action="">
    <div class="nickname">
      <p>Nickname: <span id="nickName"></span></p>
      <input type="text" id="nickname-box" data-testid="nickname-box" placeholder="Insira seu nickname" />
      <button id="nickname-button" data-testid="nickname-button">Salvar</button>
    </div>
    <div class="message">
      <input type="text" id="message-box" data-testid="message-box" maxlength="500" placeholder="Digite sua mensagem:" />
      <button type="submit" id="send-button" data-testid="send-button">Enviar</button>
    </div>
  </form>