<body>
  <div>
    <span id="nickname"></span>
    <input
      id="nick-input"
      placeholder="Nickname"
      data-testid="nickname-box"
    />
    <button type="button" id="set-nickname" data-testid="nickname-button">Set</button>
    <ul id="onlineUsers"></ul>
    <ul id="messages"></ul>
    <input
      id="message"
      placeholder="Message"
      data-testid="message-box"
    />
    <button type="button" id="send" data-testid="send-button">Send</button>
  </div>