<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IO</title>
    <title>Document</title>
  </head>
  <body>
    <form id="nicknameForm">
      <input id="nicknameInput" />
      <button id="saveNicknameButton" >Save</button>
    </form>
    <ul id="messages"></ul>
    <form id="messageForm">
      <input id="messageInput" />
      <button id="sendMessageButton">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>