* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
}

div {
  background: gold;
}

.chat {
  border: 1px solid #ccc;
  height: 450px;
  margin: auto;
  width: 600px;
}

.chat__ul {
  background-color: gold;
}
