@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap') ;


:root {

  --dark-color-a: black;

  --dark-color-b: #14213d;

  --light-color: #fca311;

  --success-color: #5cb85c;

  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-color-a);
  font-family: Dongle, sans-serif;
  font-size: 26px;
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--light-color);
  border: 0;
  color: var(--dark-color-a);
  cursor: pointer;
  font-size: 17px;
  padding: 2px 15px;
}

.div-main {
  background-color: var(--dark-color-b);
  margin: auto;
  margin-top: 0;
  max-width: 1080px;
  padding: 15px 20px;
  top: 0;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-height: 560px;
  min-height: 560px;
}

.div-user {
  background-color: var(--dark-color-b);
  color: #e5e5e5;
  max-height: 520px;
  padding: 20px 20px 60px;
  width: 120%;
}

.div-chat {
  background: var(--light-color);
  margin: 30px auto;
  max-height: 520px;
  max-width: 720px;
  min-width: 100%;
  overflow-y: auto;
  padding: 20px;
}

.msg {
  overflow-wrap: break-word;
}

.user-list {
  max-height: 560px;
  overflow-y: auto;
  padding: 30px;
}

.div-msg {
  background-color: var(--dark-color-a);
  display: flex;
  padding: 20px 30px;
}

.input-msg {
  flex: 1;
  font-size: 16px;
  height: 40px;
  padding: 5px;
}

@media ( max-width : 700px ) {

  .div-main {
    display: block;
  }
}
