<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Web Chat</title>
  <link rel="stylesheet" href="chat.css">
</head>
<body>
  <main>
    <section class="app-container">
      <aside class="users">
        <div class="nickname-container">
          <label for="input-nickname" class="label-nickname">
            <input type="text" class="input-nickname" id="input-nickname" placeholder="Insira seu nickname" />
          </label>
          <button type="button" class="save-nick">Salvar</button>
        </div>
        <section class="users-container">
          <ul class="users-list">
          </ul>
        </section>
      </aside>
      <section class="messages-container">
        <div class="message-scroll">
          <ul class="message-list">
          </ul>
        </div>
      </section>
    </section>
    <form class="submit-message-container">
      <label for="submit-input" class="submit-label">
      <input type="text" class="submit-input" id="submit-input" placeholder="Digite sua menssagem...">
    </label>
    <button type="button" class="submit-btn">Enviar</button>
    </form>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./chat.js"></script>
</body>
</html>