* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat {
  height: 500px;
  width: 600px;
  border: 1px solid;
}
.container {
  margin: auto;
}
body {
  display: flex;
  min-height: 100vh;
}
form {
  display: flex;
  gap: 5px;
  background-color: darkgrey;
  padding: 12px;
}
input {
  flex-grow: 1;
}
li {
  list-style: none;
}